<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                @if (Session["CurentUserRol"] == "Admin")
                {
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Gotcha admin", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Admin")</li>
                            <li>@Html.ActionLink("User List", "UserList", "Admin")</li>
                            <li>@Html.ActionLink("Game List", "GameList", "Admin")</li>
                            <li>@Html.ActionLink("GameType List", "GameTypeList", "Admin")</li>
                            <li>@Html.ActionLink("Rule List", "RuleList", "Admin")</li>
                            <li>@Html.ActionLink("RuleSet List", "RuleSetList", "Admin")</li>
                            <li>@Html.ActionLink("Word List", "WordList", "Admin")</li>
                            <li>@Html.ActionLink("WordSet List", "WordSetList", "Admin")</li>
                            <li>@Html.ActionLink("GameType List", "GameTypeList", "Admin")</li>
                        </ul>
                    </div>
                }
                else
                {
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        @Html.ActionLink("Gotcha", "Index", "Player", new { area = "" }, new { @class = "navbar-brand" })
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav">
                            <li>@Html.ActionLink("Home", "Index", "Player")</li>
                            <li>@Html.ActionLink("All Games", "GameList", "Player")</li>
                        </ul>
                    </div>
                }
            </div>
        </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Gotcha 2.0 Web</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
