@model IEnumerable<Gotcha_2._0.Models.Word>

@{
    ViewBag.Title = "WordList";
}

<h2>WordList</h2>

<p>
    @Html.ActionLink("Create New", "WordAdd")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Content)
        </td>
        <td>
            @Html.ActionLink("Edit", "WordEdit", new { id=item.Id }) |
            @Html.ActionLink("Delete", "WordDelete", new { id=item.Id })
        </td>
    </tr>
}

</table>
